html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    animation: opening 6s;
}

h1 {
    font-family: 'Libre Baskerville', serif;
}

.content1{
    width: 100%;
    background-color: white;
    height: 500px;
    padding: 40px;
}

.parallax1 {
    min-height: 900px;
    background-image: url("Assets/pexels-photo-373076.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    min-height: 370px;
    background-image: url("Assets/letter-handwriting-family-letters-written-51159.jpeg");
    opacity: .6;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    min-height: 370px;
    background-image: url("Assets/pexels-photo-270404.jpeg");
    opacity: .6;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallelogram {
    position: relative;
    top: -20px;
    left: -100px;
    float: left;
    width: 800px;
	height: 550px;
	transform: skew(-20deg);
    background: white;
    z-index: 1;
    box-shadow: 10px 0px 10px gray;
}

.caption {
    margin: 0 auto;
    color: black;
    font-family: 'Libre Baskerville', serif;
    font-size: 34px;
    text-align: center;
    padding-top: 25%;
}
.greetings {
    position: relative;
    animation: greetings 2s ease-in-out;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes opening {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes greetings {
    from {opacity: 0; top: -100px}
    to {opacity: 1; top: 0;}
}